* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid red;
}

body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}


#title {
    text-align: center;
    padding: 24px;
}


#title p {
    font-weight: 500;
    font-size: 98px;
    margin-top: 8px;

}
