* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

#container {
    width: 360px;
    max-width: 720px;
    margin:56px auto 0px;
    padding: 0 24px;
}


h1 {
    text-align: center;
    padding: 24px;
    font-size: 100px;
}

h6 {
    text-align: center;
    padding: 10px;
    font-size: 37px;

}

#subtitle {
    text-align: center;
    padding: 24px;
}

#subtitle {
    font-weight: 500;
    font-size: 37px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 0 50px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
}